// Dialog colors
// -------------------------
@dialogblue: #518fcc;
@dialogbrown: #572700;

@blue: #007489;
@red: #b42d38; 
@orange: #e47f26;
@yellow: #f4c017;
@green: #becb31;

@grey1: #6d6e71;
@grey2: #939598;
@grey3: #bcbec0;
@grey4: #e6e7e8;
@beige1: #c5c19d;
@beige2: #e1dcc9;
@beige3: #f4f1e9;