/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Settings
 *****************************************************************************/

/*
#top-menu {
    position: fixed;
    z-index: 1;
    background: white;
    left: 0;
    right: 0;
    top: 0;
}

#top-menu li {
    float: left;
}

#top-menu a {
    display: block;
    padding: 5px 25px 7px 25px;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    border-top: 3px solid white;
    color: #666;
    text-decoration: none;
}

#top-menu a:hover {
    color: #000;
}

#top-menu li.active a {
    border-top: 3px solid #333;
    color: #333;
    font-weight: bold;
}

#foo {
    display: block;
    height: 600px;
    width: 600px;
}

#bar {
    display: block;
    height: 600px;
    width: 600px;
}

#baz {
    display: block;
    height: 600px;
    width: 600px;
}
*/

/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Browser Default Style Reset
 *****************************************************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Navigation
 *****************************************************************************/

.menu-wrap {
  width: 959px;
  margin: 0 auto;
}

.menu {
  float: right;
}

.menu > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu > ul:after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: " ";
}

.menu > ul > li {
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
}

.menu > ul > li.current_page_item > a,
.menu > ul > li.current_page_parent > a {
  padding-bottom: 0;
  font-weight: bold;
  color: #6d6e71;
  text-shadow: 0px 1px 0px #fff;
  background-color: #e6e7e8;
}

.menu > ul > li.current_page_item:hover > a,
.menu > ul > li.current_page_parent:hover > a {
  padding-left: 20px;
  border-left: none!important;
}

.menu > ul > li > a {
  display: block;
  padding: 0 20px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 55px;
  color: #fff;
  text-shadow: 1px 1px 0px #295c8e;
  background-color: transparent;
}

.menu > ul > li:hover > a {
  padding-bottom: 0;
  padding-left: 15px;
  color: #6d6e71;
  text-shadow: 0px 1px 0px #fff;
  background-color: #e6e7e8;
  border-left: 5px solid #6d6e71;
}

.menu > ul > li.menu-top-level-red:hover > a {
  border-left: 5px solid #b42d38;
}

.menu > ul > li.menu-top-level-orange:hover > a {
  border-left: 5px solid #e47f26;
}

.menu > ul > li.menu-top-level-yellow:hover > a {
  border-left: 5px solid #f4c017;
}

.menu > ul > li.menu-top-level-green:hover > a {
  border-left: 5px solid #becb31;
}

.menu > ul > li.menu-top-level-blue:hover > a {
  border-left: 5px solid #007489;
}

.menu > ul > li.menu-top-level-beige:hover > a {
  border-left: 5px solid #c5c19d;
}

.menu > ul > li.menu-top-level-beigee:hover > a {
  border-left: 5px solid #e1dcc9;
}

.menu > ul > li.menu-top-level-beigeee:hover > a {
  border-left: 5px solid #f4f1e9;
}

.menu > ul > li:hover > .children {
  display: block;
}

.children {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 99;
  display: none;
  width: 200px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-left: #b42d38 5px solid;
  -webkit-box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.4);
}

.children > li {
  padding: 0;
  margin: 0;
}

.children > li > a {
  display: block;
  padding: 5px;
  padding-left: 20px;
  margin: 0;
  font-size: 14px;
  color: #6d6e71;
  text-shadow: 0px 1px 0px #fff;
  background-color: #e6e7e8;
  border-bottom: 1px #d9dadc solid;
  -webkit-transition: all 0.1s ease-in;
     -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
       -o-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;
}

.children > li > a:hover {
  color: #000;
  background-color: #fff;
}

.menu-top-level-red > ul {
  border-left: 5px solid #b42d38;
}

.menu-top-level-orange > ul {
  border-left: 5px solid #e47f26;
}

.menu-top-level-yellow > ul {
  border-left: 5px solid #f4c017;
}

.menu-top-level-green > ul {
  border-left: 5px solid #becb31;
}

.menu-top-level-blue > ul {
  border-left: 5px solid #007489;
}

.menu-top-level-beige > ul {
  border-left: 5px solid #c5c19d;
}

.menu-top-level-beigee > ul {
  border-left: 5px solid #e1dcc9;
}

.menu-top-level-beigeee > ul {
  border-left: 5px solid #f4f1e9;
}

/* Sub Menu */

.second-menu-wrap {
  background: #727272 url('../images/background-pattern.jpg') repeat-x top;
}

.second-menu {
  position: relative;
  left: 155px;
  width: 960px;
  height: 29px;
  margin: 0 auto;
  line-height: 29px;
}

.second-menu-horizontal {
  position: static;
  display: block;
  width: 100%;
  overflow: hidden;
  border-left: none;
  box-shadow: none;
}

.second-menu-horizontal > li {
  float: left;
}

.second-menu-horizontal > li > a {
  display: block;
  height: 29px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 29px;
  color: #6d6e71;
  text-shadow: 0px 1px 0px #efefef;
  background-color: transparent;
  border: none;
  -webkit-transition: color 0.1s ease-in;
     -moz-transition: color 0.1s ease-in;
      -ms-transition: color 0.1s ease-in;
       -o-transition: color 0.1s ease-in;
          transition: color 0.1s ease-in;
}

.second-menu-horizontal > li > a:hover {
  color: #a02832;
  background-color: transparent;
}

.second-menu-horizontal > li.current_page_item > a {
  color: #a02832;
}

/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Media Queries
 *****************************************************************************/

@media only screen and (min-width: 35em) {
  
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}

/*
* 
*               .-://:-`       `:+oso+-`       `-://:-.                
*             -+ooooooo+:`   `+hdddddddh/    `/+ooooooo+.              
*            .ooooooooooo/   oddddddddddd/   +ooooooooooo.             
*            /oooooooooooo`  ddddddddddddy  `oooooooooooo:             
*            -ooooooooooo/   sddddddddddd+   +ooooooooooo.             
*             -+ooooooo+/`   `oddddddddh+`   `/oooooooo+-              
*              `.:///:-`       ./osyso:.       `-:///:.`               
*                                                                                                                                            
*                                                                      
*                     
* `+/:::::::/-`     :/                 -+                              
* `o:       `-+:    ``                 :o                              
* `o:         .o-   -:    `-::::::.    :o     `-:::::-`     `.:::::.`:.
* `o:          ++   /+   `+/`   `-+.   :o    :+-`  ``:+.   `//.`  `-/o-
* `o:          /o   /+   `.`  ```.o-   :o   .o.       :o`  /+       -o-
* `o:          +/   /+    .::::---o-   :o   :o        .o-  o:       .o-
* `o:         :o.   /+   /+.`    `o-   :o   -o.       -o`  /+       :o-
* `o:```````-//.    /+   /+`   `.:o:`  :o    :+.`   `-+-   `//.```.:/o-
* `//:::::::-.      ::   `:/::::-`-/-  -/     .::::::-`      .-:::-..o.
*                                                         ./`      :+` 
*                                                          -/:----//.  
*                                                            `....`   
*/

/******************************************************************************
 * Styles
 *****************************************************************************/

/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Browser Default Style Reset
 *****************************************************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Sitewide
 *****************************************************************************/

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #c5c19d;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

img {
  vertical-align: middle;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  padding: 0.2em 0;
  margin: 0.2em 0;
  color: #000;
  background: #ccc;
}

/******************************************************************************
 * Basic Styles
 *****************************************************************************/

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #dbdbdb;
  background-image: linear-gradient(#a5a5a5 0%, #dbdbdb 100%);
  background-repeat: no-repeat;
}

h1 {
  margin: 15px 0;
  font-size: 40px;
  line-height: 40px;
  color: #6d6e71;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  color: #6d6e71;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  color: #6d6e71;
}

h4 {
  font-size: 28px;
  line-height: 36px;
  color: #6d6e71;
}

p {
  line-height: 22px;
}

ul {
  padding: 15px;
  padding-left: 15px;
  margin: 0;
  list-style-type: disc;
}

ul li {
  padding: 5px;
  margin: 0;
  margin-left: 15px;
}

a {
  color: #518fcc;
  text-decoration: none;
}

a:hover {
  color: #2f69a1;
}

a:active {
  color: #518fcc;
}

a:visited {
  color: #b42d38;
}

/******************************************************************************
 * Scaffolding
 *****************************************************************************/

#body-wrap {
  /* background-image: linear-gradient(@grey 25%, @greyy 75%);*/

  /* background-repeat: no-repeat;*/

  height: 100%;
  padding-top: 94px;
}

.block-center {
  width: 960px;
  height: 500px;
  padding-top: 15px;
  margin: 0 auto;
}

/******************************************************************************
   * Pages
   *****************************************************************************/

.content-wrap {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}

.content-scrollspy {
  top: 0;
  z-index: 98;
  float: left;
  width: 199px;
  border-right: 1px #efefef solid;
}

.content-scrollspy.stuck {
  top: 95px;
  float: none;
}

.content-scrollspy ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content-scrollspy li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #efefef;
}

.content-scrollspy a {
  display: block;
  line-height: 50px;
  color: #6d6e71;
  text-align: center;
  background-color: transparent;
}

.content-scrollspy a:hover {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.content-scrollspy li.active > a {
  color: #007489;
  border-right: 5px #007489 solid;
}

.content-body {
  float: right;
  width: 680px;
  padding: 40px;
  padding-bottom: 1000px;
  background-color: #fff;
}

/******************************************************************************
 * Header
 *****************************************************************************/

.header-wrap {
  position: fixed;
  z-index: 101;
  width: 100%;
}

.home > .header-wrap {
  position: static;
}

.header-inner {
  position: relative;
  z-index: 100;
  width: 100%;
  background: #518fcc;
  background: -moz-linear-gradient(top, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #518fcc), color-stop(98%, #457aaf), color-stop(100%, #70a1cc));
  background: -webkit-linear-gradient(top, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background: -o-linear-gradient(top, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background: -ms-linear-gradient(top, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background: linear-gradient(to bottom, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518fcc', endColorstr='#70a1cc', GradientType=0);
  box-shadow: 0 1px 8px 1px #6D6B6B;
}

.menu-logo {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100px;
  margin-left: 15px;
}

.logo-top {
  height: 65px;
  background-color: #572700;
}

.logo-bottom {
  height: 65px;
  -webkit-box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.5);
}

/******************************************************************************
 * Banner
 *****************************************************************************/

#banner {
  position: relative;
  width: 960px;
  height: 250px;
  padding-top: 50px;
  margin: 0 auto;
  background-image: url(http://fc00.deviantart.net/fs71/i/2013/219/c/9/linked_to_our_world_by_barbaraofbruno-d6h01q9.jpg);
  background-position: 0 500px;
}

#banner > h1 {
  position: fixed;
  z-index: 1;
  width: 960px;
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 70px;
  color: #6d6e71;
  text-align: center;
}

#banner-white-fade {
  position: absolute;
  bottom: 0;
  width: 960px;
  height: 400px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}

/******************************************************************************
 * Front Page
 *****************************************************************************/

#purpose-strategy-execution-wrap {
  background-color: #f4c017;
}

#purpose-strategy-execution h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 400px;
  color: #572700;
  text-align: center;
}

#dontexist {
  /*.box-shadow(0 0 5px);*/

}

/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Navigation
 *****************************************************************************/

.menu-wrap {
  width: 959px;
  margin: 0 auto;
}

.menu {
  float: right;
}

.menu > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu > ul:after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: " ";
}

.menu > ul > li {
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
}

.menu > ul > li.current_page_item > a,
.menu > ul > li.current_page_parent > a {
  padding-bottom: 0;
  font-weight: bold;
  color: #6d6e71;
  text-shadow: 0px 1px 0px #fff;
  background-color: #e6e7e8;
}

.menu > ul > li.current_page_item:hover > a,
.menu > ul > li.current_page_parent:hover > a {
  padding-left: 20px;
  border-left: none!important;
}

.menu > ul > li > a {
  display: block;
  padding: 0 20px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 55px;
  color: #fff;
  text-shadow: 1px 1px 0px #295c8e;
  background-color: transparent;
}

.menu > ul > li:hover > a {
  padding-bottom: 0;
  padding-left: 15px;
  color: #6d6e71;
  text-shadow: 0px 1px 0px #fff;
  background-color: #e6e7e8;
  border-left: 5px solid #6d6e71;
}

.menu > ul > li.menu-top-level-red:hover > a {
  border-left: 5px solid #b42d38;
}

.menu > ul > li.menu-top-level-orange:hover > a {
  border-left: 5px solid #e47f26;
}

.menu > ul > li.menu-top-level-yellow:hover > a {
  border-left: 5px solid #f4c017;
}

.menu > ul > li.menu-top-level-green:hover > a {
  border-left: 5px solid #becb31;
}

.menu > ul > li.menu-top-level-blue:hover > a {
  border-left: 5px solid #007489;
}

.menu > ul > li.menu-top-level-beige:hover > a {
  border-left: 5px solid #c5c19d;
}

.menu > ul > li.menu-top-level-beigee:hover > a {
  border-left: 5px solid #e1dcc9;
}

.menu > ul > li.menu-top-level-beigeee:hover > a {
  border-left: 5px solid #f4f1e9;
}

.menu > ul > li:hover > .children {
  display: block;
}

.children {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 99;
  display: none;
  width: 200px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-left: #b42d38 5px solid;
  -webkit-box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.4);
}

.children > li {
  padding: 0;
  margin: 0;
}

.children > li > a {
  display: block;
  padding: 5px;
  padding-left: 20px;
  margin: 0;
  font-size: 14px;
  color: #6d6e71;
  text-shadow: 0px 1px 0px #fff;
  background-color: #e6e7e8;
  border-bottom: 1px #d9dadc solid;
  -webkit-transition: all 0.1s ease-in;
     -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
       -o-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;
}

.children > li > a:hover {
  color: #000;
  background-color: #fff;
}

.menu-top-level-red > ul {
  border-left: 5px solid #b42d38;
}

.menu-top-level-orange > ul {
  border-left: 5px solid #e47f26;
}

.menu-top-level-yellow > ul {
  border-left: 5px solid #f4c017;
}

.menu-top-level-green > ul {
  border-left: 5px solid #becb31;
}

.menu-top-level-blue > ul {
  border-left: 5px solid #007489;
}

.menu-top-level-beige > ul {
  border-left: 5px solid #c5c19d;
}

.menu-top-level-beigee > ul {
  border-left: 5px solid #e1dcc9;
}

.menu-top-level-beigeee > ul {
  border-left: 5px solid #f4f1e9;
}

/* Sub Menu */

.second-menu-wrap {
  background: #727272 url('../images/background-pattern.jpg') repeat-x top;
}

.second-menu {
  position: relative;
  left: 155px;
  width: 960px;
  height: 29px;
  margin: 0 auto;
  line-height: 29px;
}

.second-menu-horizontal {
  position: static;
  display: block;
  width: 100%;
  overflow: hidden;
  border-left: none;
  box-shadow: none;
}

.second-menu-horizontal > li {
  float: left;
}

.second-menu-horizontal > li > a {
  display: block;
  height: 29px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 29px;
  color: #6d6e71;
  text-shadow: 0px 1px 0px #efefef;
  background-color: transparent;
  border: none;
  -webkit-transition: color 0.1s ease-in;
     -moz-transition: color 0.1s ease-in;
      -ms-transition: color 0.1s ease-in;
       -o-transition: color 0.1s ease-in;
          transition: color 0.1s ease-in;
}

.second-menu-horizontal > li > a:hover {
  color: #a02832;
  background-color: transparent;
}

.second-menu-horizontal > li.current_page_item > a {
  color: #a02832;
}

/******************************************************************************
 * Settings
 *****************************************************************************/

/*
#top-menu {
    position: fixed;
    z-index: 1;
    background: white;
    left: 0;
    right: 0;
    top: 0;
}

#top-menu li {
    float: left;
}

#top-menu a {
    display: block;
    padding: 5px 25px 7px 25px;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    border-top: 3px solid white;
    color: #666;
    text-decoration: none;
}

#top-menu a:hover {
    color: #000;
}

#top-menu li.active a {
    border-top: 3px solid #333;
    color: #333;
    font-weight: bold;
}

#foo {
    display: block;
    height: 600px;
    width: 600px;
}

#bar {
    display: block;
    height: 600px;
    width: 600px;
}

#baz {
    display: block;
    height: 600px;
    width: 600px;
}
*/
/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Media Queries
 *****************************************************************************/

@media only screen and (min-width: 35em) {
  
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}

/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Helper Styles - Alignment, etc.
 *****************************************************************************/

.ir {
  overflow: hidden;
  *text-indent: -9999px;
  background-color: transparent;
  border: 0;
}

.ir:before {
  display: block;
  width: 0;
  height: 150%;
  content: "";
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Helper Styles - Alignment, etc.
 *****************************************************************************/

.ir {
  overflow: hidden;
  *text-indent: -9999px;
  background-color: transparent;
  border: 0;
}

.ir:before {
  display: block;
  width: 0;
  height: 150%;
  content: "";
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/******************************************************************************
 * Settings
 *****************************************************************************/

/******************************************************************************
 * Sitewide
 *****************************************************************************/

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #c5c19d;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

img {
  vertical-align: middle;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  padding: 0.2em 0;
  margin: 0.2em 0;
  color: #000;
  background: #ccc;
}

/******************************************************************************
 * Basic Styles
 *****************************************************************************/

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #dbdbdb;
  background-image: linear-gradient(#a5a5a5 0%, #dbdbdb 100%);
  background-repeat: no-repeat;
}

h1 {
  margin: 15px 0;
  font-size: 40px;
  line-height: 40px;
  color: #6d6e71;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  color: #6d6e71;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  color: #6d6e71;
}

h4 {
  font-size: 28px;
  line-height: 36px;
  color: #6d6e71;
}

p {
  line-height: 22px;
}

ul {
  padding: 15px;
  padding-left: 15px;
  margin: 0;
  list-style-type: disc;
}

ul li {
  padding: 5px;
  margin: 0;
  margin-left: 15px;
}

a {
  color: #518fcc;
  text-decoration: none;
}

a:hover {
  color: #2f69a1;
}

a:active {
  color: #518fcc;
}

a:visited {
  color: #b42d38;
}

/******************************************************************************
 * Scaffolding
 *****************************************************************************/

#body-wrap {
  /* background-image: linear-gradient(@grey 25%, @greyy 75%);*/

  /* background-repeat: no-repeat;*/

  height: 100%;
  padding-top: 94px;
}

.block-center {
  width: 960px;
  height: 500px;
  padding-top: 15px;
  margin: 0 auto;
}

/******************************************************************************
   * Pages
   *****************************************************************************/

.content-wrap {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}

.content-scrollspy {
  top: 0;
  z-index: 98;
  float: left;
  width: 199px;
  border-right: 1px #efefef solid;
}

.content-scrollspy.stuck {
  top: 95px;
  float: none;
}

.content-scrollspy ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content-scrollspy li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #efefef;
}

.content-scrollspy a {
  display: block;
  line-height: 50px;
  color: #6d6e71;
  text-align: center;
  background-color: transparent;
}

.content-scrollspy a:hover {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.content-scrollspy li.active > a {
  color: #007489;
  border-right: 5px #007489 solid;
}

.content-body {
  float: right;
  width: 680px;
  padding: 40px;
  padding-bottom: 1000px;
  background-color: #fff;
}

/******************************************************************************
 * Header
 *****************************************************************************/

.header-wrap {
  position: fixed;
  z-index: 101;
  width: 100%;
}

.home > .header-wrap {
  position: static;
}

.header-inner {
  position: relative;
  z-index: 100;
  width: 100%;
  background: #518fcc;
  background: -moz-linear-gradient(top, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #518fcc), color-stop(98%, #457aaf), color-stop(100%, #70a1cc));
  background: -webkit-linear-gradient(top, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background: -o-linear-gradient(top, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background: -ms-linear-gradient(top, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background: linear-gradient(to bottom, #518fcc 40%, #457aaf 98%, #70a1cc 100%);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518fcc', endColorstr='#70a1cc', GradientType=0);
  box-shadow: 0 1px 8px 1px #6D6B6B;
}

.menu-logo {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100px;
  margin-left: 15px;
}

.logo-top {
  height: 65px;
  background-color: #572700;
}

.logo-bottom {
  height: 65px;
  -webkit-box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.5);
}

/******************************************************************************
 * Banner
 *****************************************************************************/

#banner {
  position: relative;
  width: 960px;
  height: 250px;
  padding-top: 50px;
  margin: 0 auto;
  background-image: url(http://fc00.deviantart.net/fs71/i/2013/219/c/9/linked_to_our_world_by_barbaraofbruno-d6h01q9.jpg);
  background-position: 0 500px;
}

#banner > h1 {
  position: fixed;
  z-index: 1;
  width: 960px;
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 70px;
  color: #6d6e71;
  text-align: center;
}

#banner-white-fade {
  position: absolute;
  bottom: 0;
  width: 960px;
  height: 400px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}

/******************************************************************************
 * Front Page
 *****************************************************************************/

#purpose-strategy-execution-wrap {
  background-color: #f4c017;
}

#purpose-strategy-execution h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 400px;
  color: #572700;
  text-align: center;
}

#dontexist {
  /*.box-shadow(0 0 5px);*/

}